@model IEnumerable<MVC2.Models.appointment>
@{
    ViewBag.Title = "index";
}
<div>
    <p class="display-3">index</p>
    <table class="table w-100">
        <tr class="border">
            <th class="border">
                @Html.DisplayNameFor(model => model.dateHour)
            </th>
            <th class="border">
                @Html.DisplayNameFor(model => model.broker.lastName)
            </th>
            <th class="border">
                @Html.DisplayNameFor(model => model.customer.lastName)
            </th>
            <th class="border"></th>
        </tr>
        <tbody>
            @foreach (var person in Model)
            {
                <tr class="border r-link text-left">
                    <td class="border">
                        @Html.DisplayFor(modelItem => person.dateHour)
                    </td>
                    <td class="border">
                        @Html.DisplayFor(modelItem => person.broker.lastName)
                        @Html.DisplayFor(modelItem => person.broker.firstName)
                    </td>
                    <td class="border">
                        @Html.DisplayFor(modelItem => person.customer.lastName)
                        @Html.DisplayFor(modelItem => person.customer.firstName)
                    </td>
                    <td class="border text-center row">
                        <span class="col border-0">@Html.ActionLink("Details", "More", new { id = person.idAppointment })</span> | <span class="col border-0">@Html.ActionLink("Supprimer", "DeleteAppointment", new { id = person.idAppointment })</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>