@*Permet l'affichage des données correspondants au model choisi *@
@model IEnumerable<MVC2.Models.broker>
@{
    ViewBag.Title = "ListBroker";
}

<div class="">
    <p class="text-center display-3">Liste des Courtiers</p>
    <table border="1" class="table p-1">
        <thead>
            <tr>
                <th class="p-2">Nom</th>
                <th class="p-2">Prenom</th>
                <th class="p-2">Adresse Mail</th>
                <th class="p-2">Numero de tel</th>
                <th class="p-2"></th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var person in Model)
            {
                //Genere une liste automatiquement grace a la boucle et au razor qui recupère l'info
                <tr>
                    <td class="p-1">@Html.DisplayFor(modelItem => person.lastName)</td>
                    <td class="p-1">@Html.DisplayFor(modelItem => person.firstName)</td>
                    <td class="p-1">@Html.DisplayFor(modelItem => person.mail)</td>
                    <td class="p-1">@Html.DisplayFor(modelItem => person.phoneNumber)</td>
                    <td class="p-1 bg-dark">
                        @Html.ActionLink("Voir profil", "ProfilBroker", new { id = person.idBroker }) |
                        @Html.ActionLink("Prendre RDV", "AddAppointment", "Appointment", new { id = person.idBroker }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="AddBroker" class="btn bg-danger">Ajouter Courtier</a>
</div>

