@model MVC2.Models.customer
@{
    ViewBag.Title = "ProfilCustomer";
}

<h2>Profil Client</h2>

<form action="#" method="post" name="profilCustomer" class="#">
    @*@Html.AntiForgeryToken()*@
    @Html.HiddenFor(model => model.idCustomer)
    <p>
        <label for="lastName">Nom : </label>
        <input type="text" name="lastName" id="lastName" class="form-control" value="@Html.Display("lastName")" />
        @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
    </p>
    <p>
        <label for="firstName">Prénom : </label>
        <input type="text" name="firstName" id="firstName" class="form-control" value="@Html.Display("firstName")" />
        @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
    </p>
    <p>
        <label for="mail">Adresse mail : </label>
        <input type="text" name="mail" id="mail" class="form-control" value="@Html.Display("mail")" />
        @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
    </p>
    <p>
        <label for="phoneNumber">Numero Tel : </label>
        <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" value="@Html.Display("phoneNumber")" />
        @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
    </p>
    <p>
        <label for="budget">budget : </label>
        <input type="text" name="budget" id="budget" class="form-control" value="@Html.Display("budget")" />
        @Html.ValidationMessageFor(model => model.budget, "", new { @class = "text-danger" })
    </p>
    <p>
        <label for="subject">sujet : </label>
        <textarea type="text" name="subject" id="subject" class="form-control">@Html.Display("subject")</textarea>
        @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
    </p>
    <input type="submit" value="Enregistre" class="btn btn-default btn-dark btn-outline-red" />
</form>